<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personal.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.personal.entity.Bill">
        <result column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="customer_phone" property="customerPhone" />
        <result column="customer_id_card" property="customerIdCard" />
        <result column="city_name" property="cityName" />
        <result column="market_name" property="marketName" />
        <result column="bill_sn" property="billSn" />
        <result column="bill_sn_type" property="billSnType"/>
        <result column="is_peer_bill" property="isPeerBill" />
        <result column="customer_unit" property="customerUnit" />
        <result column="bill_date" property="billDate" />
        <result column="business_status" property="businessStatus" />
        <result column="total_price" property="totalPrice" />
        <result column="bill_status" property="billStatus" />
        <result column="expect_pay_days" property="expectPayDays" />
        <result column="remark" property="remark" />
        <result column="is_source" property="isSource" />
        <result column="is_receive" property="isReceive" />
        <result column="freight" property="freight" />
        <result column="actual_total_price" property="actualTotalPrice" />
        <result column="transaction_address" property="transactionAddress" />
        <result column="create_customer_id" property="createCustomerId" />
        <result column="pid" property="pid" />
        <result column="is_top" property="isTop" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!--级联商品查询映射结果-->
    <resultMap id="CascadeGoodsResultMap" type="bill" extends="BaseResultMap">
        <collection property="goods" autoMapping="true" ofType="goods">
            <result column="goods_id" property="id" />
            <result column="weight_unit" property="weightUnit" />
            <result column="security_detection_info" property="securityDetectionInfo" />
            <result column="bill_id" property="billId" />
            <result column="amount" property="amount" />
            <result column="cmid" property="cmid" />
            <result column="code_img_path" property="codeImgPath" />
        </collection>
    </resultMap>


    <select id="selectStatisticsForBill" resultType="billStatisticsVO">
        <choose>
            <when test="isReceivable != 'true'">
                SELECT
                DATE_FORMAT(b.create_time,'%Y-%m-%d') as time,count(b.id) as ct,sum(b.total_price) as tp,
                sum(b.actual_total_price) as atp,b.business_status as b.businessStatus
                FROM
                (SELECT tbl.bid
                FROM t_customer_bill_link tbl
                WHERE tbl.cid = #{createCustomerId}) tmp
                LEFT JOIN t_bill b ON tmp.bid = b.id
                <where>
                    b.business_status = 'in'
                    <if test="startDate != null and endDate != null">
                        AND b.create_time BETWEEN #{startDate} AND #{endDate}
                    </if>
                </where>
                GROUP BY b.time
                UNION
                SELECT
                DATE_FORMAT(b.create_time,'%Y-%m-%d') as time,count(b.id) as ct,sum(b.total_price) as tp,
                sum(b.actual_total_price) as atp,b.business_status as businessStatus
                FROM
                (SELECT tbl.bid
                FROM t_customer_bill_link tbl
                WHERE tbl.cid = #{createCustomerId}) tmp
                LEFT JOIN t_bill b ON tmp.bid = b.id
                <where>
                    b.business_status = 'out'
                    <if test="startDate != null and endDate != null">
                        AND b.create_time BETWEEN #{startDate} AND #{endDate}
                    </if>
                </where>
                GROUP BY b.time
            </when>
            <otherwise>
                SELECT
                DATE_FORMAT(b.create_time,'%Y-%m-%d') as time,count(b.id) as ct,sum(b.total_price) as tp,
                sum(b.actual_total_price) as atp
                FROM
                (SELECT tbl.bid
                FROM t_customer_bill_link tbl
                WHERE tbl.cid = #{createCustomerId}) tmp
                LEFT JOIN t_bill b ON tmp.bid = b.id
                <where>
                    b.bill_status = 'receivable'
                    <if test="startDate != null and endDate != null">
                        AND b.create_time BETWEEN #{startDate} AND #{endDate}
                    </if>
                </where>
                GROUP BY b.time
            </otherwise>
        </choose>
    </select>

    <!--根据主键查询，级联查询商品-->
    <select id="selectByIdCascadeGoods" parameterType="string" resultMap="CascadeGoodsResultMap">
        SELECT
          b.*,g.id AS goods_id,g.name,g.price,g.weight_unit,g.number,g.security_detection_info,g.bill_id,g.amount,g.cmid,g.code_img_path
        FROM t_bill b
        LEFT JOIN t_goods g ON b.id = g.bill_id
        WHERE b.id=#{id} ORDER BY b.update_time
    </select>

    <!--查询子账单列表，级联商品-->
    <select id="selectSubBillByPidCascadeGoods" parameterType="string" resultMap="CascadeGoodsResultMap">
        SELECT
        b.*,g.id AS goods_id,g.name,g.price,g.weight_unit,g.number,g.security_detection_info,g.bill_id,g.amount,g.cmid,g.code_img_path
        FROM t_bill b
        LEFT JOIN t_goods g ON b.id = g.bill_id
        WHERE b.pid=#{pid} ORDER BY b.id,b.update_time
    </select>

    <!--账单多条件查询（默认级联商品）-->
    <select id="selectByParam" resultMap="CascadeGoodsResultMap">
        SELECT b.*,
        g.id AS goods_id,g.name,g.price,g.weight_unit,g.number,g.security_detection_info,g.bill_id
        FROM (SELECT tbl.bid FROM t_customer_bill_link tbl WHERE tbl.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b ON tmp.bid = b.id
        LEFT JOIN t_goods g ON b.id = g.bill_id
        <where>
            <if test="customerName != null and customerName != ''">
                AND b.customer_name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND b.customer_phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND g.name=#{goodsName}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY b.create_time desc,b.update_time desc
    </select>

    <!--账单首页分页查询（级联商品名称，创建时间降序排序）-->
    <select id="selectByParamForIndexPage" resultType="billGoodsForIndexPageVO">
        SELECT
          tmp.master_share AS masterShare,b.id,b.bill_date AS billDate,b.customer_name AS customerName,
          b.customer_phone AS customerPhone,total_price AS totalPrice,b.is_top as isTop,
          b.actual_total_price AS actualTotalPrice,b.business_status AS businessStatus,
          bill_status AS billStatus,b.create_time AS createTime,b.update_time AS updateTime,
          (SELECT GROUP_CONCAT(g.name) FROM t_goods g WHERE g.bill_id = b.id) goodsNames,
          (SELECT GROUP_CONCAT(g.number) FROM t_goods g WHERE g.bill_id = b.id) goodsNumbers,
          (SELECT GROUP_CONCAT(g.weight_unit) FROM t_goods g WHERE g.bill_id = b.id) goodsWeightUnits,
          (SELECT GROUP_CONCAT(g.code_img_path) FROM t_goods g WHERE g.bill_id = b.id) codeImgPath
        FROM
            (SELECT tbl.bid,tbl.master_share
            FROM t_customer_bill_link tbl
            WHERE tbl.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b on tmp.bid = b.id
        <where>
            <if test="customerName != null and customerName != ''">
                AND b.customer_name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND b.customer_phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY b.is_top DESC,b.create_time DESC
        LIMIT #{pageSize} offset #{offSet}
    </select>

    <!--分页个数查询-->
    <select id="selectCountByCondition" resultType="int">
        SELECT
          count(b.id)
        FROM
            (SELECT tbl.bid
            FROM t_customer_bill_link tbl
            WHERE tbl.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b on tmp.bid = b.id
        <where>
            <if test="customerName != null and customerName != ''">
                AND b.customer_name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND b.customer_phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND g.name=#{goodsName}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
</mapper>
