<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.BillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msb.entity.Bill">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="cid" property="cid" />
        <result column="pid" property="pid" />
        <result column="business_status" property="businessStatus" />
        <result column="bill_status" property="billStatus" />
        <result column="expect_pay_days" property="expectPayDays" />
        <result column="remark" property="remark" />
        <result column="bill_sn" property="billSn" />
        <result column="other_cost" property="otherCost" />
        <result column="total_price" property="totalPrice" />
        <result column="actual_total_price" property="actualTotalPrice" />
        <result column="bill_sn_type" property="billSnType" />
        <result column="is_top" property="isTop" />
        <result column="bill_date" property="billDate" />
        <result column="is_receive" property="isReceive" />
        <result column="create_customer_id" property="createCustomerId" />
    </resultMap>

    <!--级联商品查询映射结果-->
    <resultMap id="LinkGoodsResultMap" type="bill" extends="BaseResultMap">
        <association property="billGoods" javaType="billGoods" autoMapping="true">
            <id column="goods_id" property="id" />
            <result column="bill_id" property="billId" />
            <result column="weight_unit" property="weightUnit" />
            <result column="product_img_path" property="productImgPath"/>
            <result column="is_goods" property="isGoods" />
            <result column="goods_fix_price" property="goodsFixPrice" />
            <result column="goods_start_count" property="goodsStartCount" />
            <result column="goods_desc" property="goodsDesc" />
            <result column="goods_brand" property="goodsBrand" />
            <result column="goods_spec" property="goodsSpec" />
            <result column="goods_product_place" property="goodsProductPlace" />
            <result column="goods_address" property="goodsAddress" />
            <result column="goods_freight" property="goodsFreight" />
            <result column="goods_cost_ratio" property="goodsCostRatio" />
            <result column="goodsImgPath" property="goods_img_path" />
            <result column="goodsVideoPath" property="goods_video_path" />
        </association>
    </resultMap>

    <!--查询子账单列表，级联商品-->
    <select id="getBillsByPidLinkGoods" parameterType="string" resultMap="LinkGoodsResultMap">
        SELECT
        b.*,
        g.id AS goods_id,g.bill_id,g.name,g.number,
        g.price,g.weight,g.weight_unit,g.quality,g.product_img_path,g.is_goods,
        g.goods_is_show,g.goods_fix_price,g.goods_start_count,g.goods_desc,g.goods_brand,g.goods_spec,
        g.goods_product_place,g.goods_address,g.goods_freight,g.goods_cost_ratio,g.goods_img_path,g.goods_video_path
        FROM t_bill b
        LEFT JOIN t_bill_goods g ON b.id = g.bill_id
        WHERE b.pid=#{pid} ORDER BY b.id,b.update_time
    </select>

    <!--分页个数查询-->
    <select id="getCounts" resultType="int">
        SELECT
        count(b.id)
        FROM
        (SELECT tcbr.bid
        FROM t_customer_bill_relation tcbr
        WHERE tcbr.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b on tmp.bid = b.id
        LEFT JOIN t_bill_goods g on b.id = g.bill_id
        LEFT JOIN t_customer c on c.id = b.create_customer_id
        <where>
            <if test="customerName != null and customerName != ''">
                AND c.name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND c.phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND g.name=#{goodsName}
            </if>
            <if test="isGoods != null and isGoods != ''">
                AND g.is_goods=#{isGoods}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <!--账单首页分页查询（级联商品名称，创建时间降序排序）-->
    <select id="getPageForBillIndexPage" resultType="billProductsForIndexPageVO">
        SELECT
        b.id,
        g.name AS goodsName,
        g.product_img_path AS productImgPath,
        b.bill_date AS billDate,
        b.business_status AS businessStatus,
        bill_status AS billStatus,
        total_price AS totalPrice,
        b.actual_total_price AS actualTotalPrice,
        b.is_top as isTop,
        b.create_time AS createTime,b.update_time AS updateTime
        FROM
        (SELECT tcbr.bid
         FROM t_customer_bill_relation tcbr
         WHERE tcbr.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b on tmp.bid = b.id
        LEFT JOIN t_bill_goods g on b.id = g.bill_id
        LEFT JOIN t_customer c on c.id = b.create_customer_id
        <where>
            <if test="customerName != null and customerName != ''">
                AND c.name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND c.phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND g.name=#{goodsName}
            </if>
            <if test="isGoods != null and isGoods != ''">
                AND g.is_goods=#{isGoods}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY b.is_top DESC,b.create_time DESC
        LIMIT #{pageSize} offset #{offSet}
    </select>

    <!--账单多条件查询无分页（级联商品名称，创建时间降序排序,更新时间降序）-->
    <select id="getBillsByParams" resultType="billProductsForQueryPageVO">
        SELECT
        b.id,c.name AS customerName,c.phone AS customerPhone,
        g.name AS goodsName,
        g.product_img_path AS productImgPath,
        b.bill_date AS billDate,
        b.business_status AS businessStatus,
        bill_status AS billStatus,
        total_price AS totalPrice,
        b.actual_total_price AS actualTotalPrice,
        b.is_top as isTop,
        b.create_time AS createTime,b.update_time AS updateTime
        FROM
        (SELECT tcbr.bid
        FROM t_customer_bill_relation tcbr
        WHERE tcbr.cid = #{createCustomerId}) tmp
        LEFT JOIN t_bill b on tmp.bid = b.id
        LEFT JOIN t_bill_goods g on b.id = g.bill_id
        LEFT JOIN t_customer c on c.id = b.create_customer_id
        <where>
            <if test="customerName != null and customerName != ''">
                AND c.name=#{customerName}
            </if>
            <if test="customerPhone != null and customerPhone != ''">
                AND c.phone=#{customerPhone}
            </if>
            <if test="businessStatus != null and businessStatus != ''">
                AND b.business_status=#{businessStatus}
            </if>
            <if test="billStatus != null and billStatus != ''">
                AND b.bill_status=#{billStatus}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND g.name=#{goodsName}
            </if>
            <if test="isGoods != null and isGoods != ''">
                AND g.is_goods=#{isGoods}
            </if>
            <if test="startDate != null">
                AND b.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY b.create_time desc,b.update_time desc
    </select>
</mapper>
