<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.mapper.CustomerRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msb.entity.CustomerRelation">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="up_id" property="upId" />
        <result column="down_id" property="downId" />
        <result column="relation_count" property="relationCount" />
        <result column="create_customer_id" property="createCustomerId" />
    </resultMap>

</mapper>
